header {
    background-color: #1db954;
    color: #fff;
    padding: 20px;
    text-align: center;
}
main {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #ccc;
}
section {
    margin-bottom: 20px;
}
.problem h2 {
    color: #1db954;
    margin-bottom: 10px;
}
.intention h2 {
    color: #1db954;
    margin-bottom: 10px;
}
.solution h2 {
    color: #1db954;
    margin-bottom: 10px;
}
.functionality h2 {
    color: #1db954;
    margin-bottom: 10px;
}
.solutions h2 {
    color: #1db954;
    margin-bottom: 10px;
}