/* Global Styles */
/* General format & Job listing page */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
    background-color: #fff;
    padding: 20px;
}

section form div {
    margin-bottom: 10px;
}

section form div label {
    display: block;
    margin-bottom: 5px;
}

section form div input[type="text"] {
    width: calc(25% - 10px);
    padding: 5px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

section form button[type="submit"] {
    padding: 5px 10px;
    background-color: #800080;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

section form button[type="submit"]:hover {
    background-color: #420066;
}

main > div {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
}

main h2 {
    color: #7106c9;
}

main h3 {
    margin-top: 10px;
    color: #333;
}

main h4 {
    color: #666;
}

footer {
    background-color: #7106c9;
    color: #fff;
    padding: 20px;
    text-align: center;
}


/* Discusson Board */
.text-center {
    text-align: center;
}

.comment {
    display: flex;
    margin-bottom: 20px;
}

.comment img {
    margin-right: 10px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.commentContent {
    width: 100%;
}

.like-button, .save-button, .reply-button {
    background: none;
    border: none;
    cursor: pointer;
}

.reply-popup {
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
}

.reply-buttons {
    margin-top: 10px;
    text-align: right;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.subsection {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.subsection-block {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    padding: 0 10px 0 10px;
}

.frame-content {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.frame-content iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.text-center {
    text-align: center;
}

.subsection-block > div {
    margin-top: 1rem;
}

.lead {
    font-size: 1.25rem;
    font-weight: 300;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
    line-height: 1.6;
}


header h1 {
    margin: 0;
    font-size: 2rem;
}


h1 {
    margin-bottom: 1rem;
}

p {
    margin-bottom: 1.5rem;
}

.username {
    margin-bottom: 0;
}

.button {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #7106c9;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.job-search-img {
    width: 100%;
}


nav ul li a {
    color: #fff;
    text-decoration: none;
}

@media (max-width: 500px) {
    header {
        background-color: #7106c9;
        color: #fff;
        padding: 10px;
        text-align: center;
    }

    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    nav ul li {
        display: flex;
        margin-right: 15%;
        margin-left: 15%;
        width: 70%;
    }

}

@media (min-width: 500px) {
    header {
        background-color: #7106c9;
        color: #fff;
        padding: 10px;
        text-align: center;
    }

    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    nav ul li {
        display: inline;
        margin-right: 10px;
    }

}


@media (min-width: 992px) {
    header {
        background-color: #7106c9;
        color: #fff;
        padding: 20px;
        text-align: center;
    }

    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    nav ul li {
        display: inline;
        margin-right: 20px;
    }

}